.container {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  height: 10vh;
}

.imgContainer {
  margin-right: 1.5rem;
}
.img {
  height: 3rem;
  border-radius: 50%;
}

.user {
  color: coral;
}
