* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 100vh;
}

.app {
  text-align: left;
  display: grid;
  grid-template-columns: 300px auto;
  /* justify-content: center; */
  overflow: none;
}

/* // Headline 24 bold
// sub 16
// text 12

// roboto */
